@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b1122;
    color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.navbar .logo h2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
.polis{
    color: #0ea5e9;
}
.navbar .logo h2 a:hover{
    color: #0ea5e9;
    transition: color 0.3s linear;
}
.navbar .links li{
    list-style: none;
    display: inline-block;
}
.navbar .links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    padding: 0 10px;
}
.navbar .links a:hover{
    color: #0ea5e9;
    transition: color 0.3s linear;
}
.navbar .button a{
    text-decoration: none;
    color: #0b1122;
    background-color: #0ea5e9;
    padding: 8px 23px;
    border-radius: 50px;
    font-size: 1.1em;
}
.navbar .button a:hover{
    background-color: #ffffff;
    transition: background-color 0.3s linear;
}
.nav2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar .button{
    padding-left: 15px;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.display .main-headline h1{
    font-size: 5em;
    padding: 0 200px;
    text-align: center;
    margin-bottom: 0;
}
.display .main-headline h1 .css{
    color: #0ea5e9;
}
.display .main-para{
    font-size: 1.1em;
    padding: 0 500px;
    text-align: center;
    color: #a2a8af;
}
.box{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(30, 41, 59, 0.1);
    margin: 70px 0;
    border-radius: 12px;
    border: 0.5px solid #253346;
    box-shadow: 1px 1px 20px #00000083;
    position:absolute;
    top: 450px;
    z-index: 1;
}
.box h2{
    margin: 0;
    padding-left: 30px;
    font-size: 2em;
    color: #eb94cf;
}
.box p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: #a2a8af;
}
.box a{
    text-decoration: none;
    color: #0b1122;
    background-color: #0ea5e9;
    padding: 8px 23px;
    border-radius: 50px;
    font-size: 1.1em;
}
.box a:hover{
    background-color: #ffffff;
    transition: background-color 0.3s linear;
}
.box div{
    padding: 30px 0 0 30px;
}
.some-text{
    color: #eb94cf;
}
.overlay{
    height: 500px;
    width: 700px;
    background-image: url(./image/glow.png);
    opacity: 0.5;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}